<a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1111;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
<div id="howto">
	<h2>{{title}}</h2>

	<div>
		<p>Feel free to use it for yourself, for good not evil!</p>
	</div>
	<h3>Example queries which returns valid jsonp:</h3>
	<pre>http://www.pulljson.com/jquery?site=jquery.com&selector=find('a').children()&callback=myjsonpcallback</pre>
	<h3>Usage example of API</h3>
	<pre>
	$('#demo-output').show();
	$.ajax(
	{
		dataType:'jsonp',
		url:"http://www.pulljson.com/jquery?site=www.jquery.com&selector=find('a img')&callback=?",
		success:function(data) {
			var items = [];
			/*Puts into list found linksimages' alt text from jquery.com site*/
			$.each(data.results, function(key, val) {
				/* val.text refers to content of tags */
				items.push('&lt;li id="' + key + '"&gt;' + val.attributes.alt + '&lt;/li&gt;');
			});
			$('&lt;ul/&gt;', {
				'class': 'my-new-list',
				html: items.join('')
			}).appendTo('#demo-output');
			$('#demo-output-loader').hide();
		}
	});
	</pre>
	<input type="button" id="examplerun1" value="Run above example!"/>
	<div id="demo-output" class="well" style="display:none">
		<div id="demo-output-loader">
			<i class="icon-spinner icon-spin"></i>Loading results
		</div>
		<br />
	</div>
</div><!-- #howto -->
<div id="demo">
	<h2>demo</h2>
	<ul style="list-style:none">
		<li><i class="icon-mobile-phone icon-large"></i>/<i class="icon-tablet icon-large"></i><a href="http://jqm-boilerplate-site.orionhub.org:8080/lists.html" target="_blank">jQueryMobile Boilerplate running in my orionhub site</a></li>
		<li><i class="icon-github icon-large"></i><a href="https://github.com/santeriv/jQuery-Mobile-Boilerplate/blob/master/js/application.js" target="_blank">source of demo</a></li>
	</ul>
</div><!-- #demo -->
<div id="about">
	<h2>about</h2>
	<div class="well well-small">
		<span class="label label-inverse">In brief</span>
		<div>
		This service is done mainly for mobile/tablet needs in mind to access web data via jsonp.
			<br />
		</div>
		<div>
			<ul style="list-style:none">
				<li>If you are just wondering how to access a nice json api via mobile I'd recommend <a href="https://jsonp.nodejitsu.com" target="_blank"><i class="icon-external-link"></i>https://jsonp.nodejitsu.com</a></li>
				<li>If you need full power of (rich) javascript + actual event handling possibilties I'd recommend checking <a href="http://nrabinowitz.github.com/pjscrape/" target="_blank"><i class="icon-external-link"></i>pjscrape</a></li>
				<li>If you need reporting features(scheduled emails and diff reports) I'd recommend <a href="http://femtoo.com" target="_blank"><i class="icon-external-link"></i>femtoo.com</a> which uses cquery.com</li>
			</ul>
		</div>
		<hr />
		<span class="label label-important">Limitations</span>
		<div>
			<ul style="list-style:none">
				<li>There will not be - almost likely - CORS or jsonpi (=JSONP with POST) API support</li>
				<li>There will be hardly any navigation and interaction (read as javascript) support with service in web pages</li>
				<li>This service and site is one developer's hobby project</li>
				<li>Thus, the service and this site might be offline every now and then.</li>
			</ul>
		</div>
		<hr />
		<span class="label label-default">Other services</span>
		<div>
			Certainly there are other tools besides this in the wild which operate similarly
			and have affected also creating this tool by myself with node.js.
			<br /><br />
			
			To name some of those tools are
			<br />
			<table border="1">
				<th>name</th><th>query methods</th><th>online</th>
				<tr><td>anyorigin.com</td><td>none, one big content property</td><td>online</td><tr>
				<tr><td>yahoo pipes</td><td>xpath</td><td>online</td><tr>
				<tr><td>pjscrape (phantomjs)</td><td>jquery</td><td>standalone</td><tr>
				<tr><td>google spreadsheet</td><td>xpath</td><td>online</td><tr>
				<tr><td>cquery.com</td><td>css selectors</td><td>online</td></tr>
			</table>
			<br />
			I'd see this service resembles most closely cquery.
			Yet, anyorigin might seem very similar also at first look but there are differences how 'jquery' is used. 
		</div>
	</div>
	
	<h3>Building blocks of this site</h3>
	
	See <a href="https://github.com/santeriv/pulljson" target="_blank">http://github.com/santeriv/pulljson</a> <ul style="list-style:none">
			{{#each aboutlinks}}
				<li>
					<i class="{{icon}} icon-large"></i>
<a href="{{link}}" target="_blank">
{{description}}
</a>
				</li>
			{{/each}}
	</ul>
</div><!-- #about -->
<div id="contact">
	<h2>contact info</h2>
	<div>
		<p>
			{{! iterate contact details }}
			<ul style="list-style:none" class="contact_list">
			{{#each contactdetails}}
				<li>
					<i class="{{icon}} icon-large"></i>
<a href="http://twitter.com/{{twitter}}" target="_blank">
@{{twitter}}
</a>
				</li>
			{{/each}}
				</ul>
		</p>
	</div>
</div><!-- #contact -->
